<table *ngIf="(quizzes | async) as quizzes" class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th>
      <select (change)="onLanguageSelect($event.target.value)">
        <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
      </select>
    </th>
    <th>#</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let quiz of quizzes">
    <tr *ngIf="quizHasSelectedLanguage(quiz)" [routerLink]="['quiz', quiz.id]">
      <td>{{ selectedLanguage }}</td>
      <td>{{ quiz.id }}</td>
      <td>{{ quiz.name }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
