<ng-container *ngIf="(quiz | async) as quiz">
  <h2>{{ quiz.id }}. {{ quiz.name }}</h2>
  <ng-template [ngIf]="formHasQuestions()" [ngIfElse]="emptyForm">
    <div class="card">
      <div class="card-body">
        <span *ngIf="this.saved" class="float-right badge badge-pill badge-success">Saved</span>
        <div *ngIf="this.saveInProgress" class="float-right spinner-grow spinner-grow-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <form>
          <ng-container *ngFor="let question of form.section.quizQuestions">
            <div class="form-group">
              <label>{{ question.question }}</label>
              <input type="text"
                     class="form-control"
                     name="{{ question.id }}"
                     maxlength="100"
                     ngModel="{{answers.get(question.id).answer}}"
                     (ngModelChange)="saveAnswer(question.id, $event)"
              />
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </ng-template>
  <ng-template #emptyForm>
    <h2 id="empty-form">This quiz is empty :(</h2>
  </ng-template>
</ng-container>
